body{
  background: #626262;
  font-family: arial, san-serif;
}
.container{
  width: 100%;
  margin: 0 auto;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #DEDEDE;
  border-radius: 3px;
  padding-bottom: 30px;
  margin: 40px;
  box-shadow: 0 0 2px #ccc;
}
.card_name{
  font-size: 30px;
  margin-bottom: 0;
  text-align: center;
}
.card_year{
  margin-top: 0;
}
.card_img{
  width: 80%;
  height: 300px;
  border: none;
}